<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>my_daily.html</title>
  <style>
    body {
    background-color: yellow;
    font-family: serif;
    }
    p{
    font-size: 18px;
    font-family: serif;
    }
  </style>
</head>
<body>
  <h1 style="margin:auto">泰誠の日常 & HTML 勉強資料 2019年</h1>
  <img src="../../static/star.jpg" alt="星空">
  <h2>10月18日(金)</h2>
  <p>HTMLとCSSの勉強をした。簡単な事は理解できた。今後の課題としてリンクを貼ってそのURLに飛べるようにする。
    
    emacs のCTRL-(c+j)で"br"がだせる事に気づいた。明日はバイト頑張ろ
  </p>
  
  <h2>10月19日(土)</h2>
  <p>バイトとにかく寝むい。立ちながら寝そう</p>
  
  <h2>10月20日(日)</h2>
  <p>爽健美茶はおいしい</p>
  
  <h2>10月21日(月)</h2>
  <p>今日はブートキャンプの打ちあわせを行った</p>
  
  <h2>12月28日(土)</h2>
  <p>久しぶりに html を勉強している。どうやら"br タグ"はパソコンで使用する分にはいいがそれ以外には向いていないらしい。ドットインストールを見ている。初心者向けでそれなりには使えそう。</p>

  <p>勉強内容<br>
    django は views.py の中で .html ファイルを指定できる。"title タグ"でタイトルの指定可能。基本的なタグは以下の URL を見ればいい。<a href="https://techacademy.jp/magazine/12305">基礎タグ15選</a></p>
    
    
</body>
</html>
